{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}

    正在登陆中...

    {% for item in app_address %}
        <iframe src="{{ item }}" width="0" height="0" style="display: none"></iframe>
    {% endfor %}

    <script>window.location.href="{{ path('jbp_user_index') }}";</script>

{% endblock %}